<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Category</title>
</head>
<body>
	<h2>Category Master</h2>


	<form th:action="@{/category}" th:object="${cat}" method="post">
		<pre>
	Product Category:   <input type="text" th:field="*{cat}">
	
	Description :       <input type="text" th:field="*{categoryDesc}">
	
	
	    <button>Save</button>
	
	</pre>
	</form>

	<table border="2">
		<thead>
			<tr>
				<th>Sr.No</th>
				<th>Category</th>
				<th>Category Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${cats.empty}">
				<td colspan="4"><span style="color:red">No category available</span></td>
			</tr>
			<tr th:each="cat,catStatus : ${cats}">
				<td th:text="${catStatus.index+1}"></td>
				<td th:text="${cat.cat}"></td>
				<td th:text="${cat.categoryDesc}"></td>
				<td> <a th:href="@{/update/{id}(id=${cat.categoryId})}">Update</a> 
				/ <a th:href="@{/delete/{id}(id=${cat.categoryId})}">Delete</a></td>
			</tr>
		</tbody>
	</table>


</body>
</html>