<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h2>Customer Form Page</h2>
<form th:action="@{/cust}" th:object="${customer}" method="post">
		<pre>
	Customer Name:   <input type="text" th:field="*{customerName}">
	
	Mobile  Number : <input type="text" th:field="*{mobileNumber}">
	
	Email Id : <input type="text" th:field="*{emailId}">
	
	Password : <input type="text" th:field="*{password}">
	
	Security Question: <select th:field="*{secQuestion}">
	<option value="" >Select A Question</option>
    <option th:value="What is your mother's maiden name?" >What is your mother's maiden name?</option>
    <option th:value="What is the name of your first pet?" >Name your First Toy?</option>
    <option th:value="What elementary school did you attend?" >What elementary school did you attend?</option>
    <option th:value="Who is your favourite Cricketer">Who is your favourite cricketer?</option>
</select>
	
	Answer         :  <input type="text" th:field="*{secAns}">
	
	     
	
	      <button>Submit</button>
	
	</pre>
	</form>

</body>
</html>